//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px rem(25);
    height: rem(40);
    background-color: $secondary_01;
    color: $white;
    font-weight: 500;
    line-height: math.div(24, 14);
    text-align: center;
    letter-spacing: rem(4);
    text-transform: uppercase;
    border: rem(1) solid $secondary_01;
    transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
    &::after {
        margin-left: rem(10);
    }
    @media (any-hover: hover) {
        &:hover {
            color: rgba(34, 34, 34, 0.5);
            background-color: $light_02;
        }
    }

    &_blue {
        white-space: nowrap;
        height: rem(50);
        border: rem(1) solid $primary;
        background-color: $primary;
        @media (any-hover: hover) {
            &:hover {
                background-color: transparent !important;
                color: $primary !important;
            }
        }
    }
}
