//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input {
    @extend %text;
    border-radius: 0 !important;
    width: 100%;
    display: block;
    padding: 0px rem(20);
    min-height: rem(40);
    background-color: $light_02;
    color: rgba(34, 34, 34, 0.5);
    border: rem(1) solid transparent;
    transition: border 0.3s ease 0s, color 0.3s ease 0s;
    &:focus {
        border: rem(1) solid rgba(34, 34, 34, 0.5);
        color: $dark_01;
    }
    &._error {
        border: rem(1) solid rgb(170, 0, 0);
    }
}
