//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input {
    border-radius: 0 !important;
    width: 100%;
    display: block;
    padding: 0px 20px;
    min-height: 40px;
    background: #f5f4ff;
    font-size: 18px;
    line-height: 28 / 18 * 100%;
    color: rgba(34, 34, 34, 0.5);
    border: 1px solid transparent;
    transition: all 0.3s ease 0s;
    &._focus {
        border: 1px solid rgba(34, 34, 34, 0.5);
        color: #222222;
    }
    &._error {
        border: 1px solid rgb(170, 0, 0);
    }
}
textarea.input {
    resize: none;
    padding: 0px 0px;
}
