.page-blog {
    &__topic {
        @include adaptiveValue("padding-top", 162, 80, 1110, 767.98, 1);
        @include adaptiveValue("margin-bottom", 135, 80, 1110, 767.98, 1);
    }
    &__explore {
        @include adaptiveValue("margin-bottom", 160, 80, 1110, 767.98, 1);
    }

    &__awards {
        @include adaptiveValue("margin-bottom", 120, 80, 1110, 767.98, 1);
    }
}

//========================================================================================================================================================

.topic {
    &__container {
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include adaptiveValue("margin-bottom", 86, 30, 1110, 767.98, 1);
        @media (max-width: $mobile) {
            text-align: center;
            flex-wrap: wrap;
            text-align: center;
        }
    }

    &__title {
        @extend %h1;
        @media (min-width: $mobile) {
            flex: 0 1 rem(540);
        }
        @media (max-width: $mobile) {
            margin-bottom: rem(20);
        }
    }

    &__socials {
        display: grid;
        grid-template-columns: repeat(4, rem(24));
        gap: rem(10);
        @media (min-width: $mobile) {
            margin-bottom: rem(14);
        }
        @media (max-width: $mobile) {
            margin: 0px auto;
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: rem(14);
        color: $mainColor;
        opacity: 0.4;
        transition: opacity 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                opacity: 1;
            }
        }
    }

    &__body {
    }

    &__image-ibg {
        @include adaptiveValue("height", 580, 300, 991.98, 479.98, 1);
        @include adaptiveValue("margin-bottom", 40, 20, 1110, 767.98, 1);
    }

    &__text {
        opacity: 0.7;
        @extend %text;
        @media (max-width: $mobile) {
            text-align: center;
        }
    }
}

//========================================================================================================================================================

.explore {
    &__container {
    }

    &__top {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include adaptiveValue("gap", 30, 10, 991.98, 479.98, 1);
        margin-bottom: rem(15);
        @media (max-width: $mobileSmall) {
            grid-template-columns: 1fr;
        }
    }

    &__image-ibg {
        position: relative;
        @include adaptiveValue("height", 450, 250, 1110, 479.98, 1);
        transition: transform 1s ease 0s, box-shadow 1s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                box-shadow: rem(-30) rem(80) rem(200) rgba(0, 0, 0, 0.25);
                transform: translate(0px, rem(-20));
                .explore__gallery-play {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    &__gallery-play {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 6;
        @include adaptiveValue("font-size", 20, 16, 1110, 479.98, 1);
        @include adaptiveValue("width", 65, 50, 1110, 479.98, 1);
        @include adaptiveValue("height", 65, 50, 1110, 479.98, 1);
        background-color: $white;
        top: 50%;
        left: 50%;
        cursor: pointer;
        transform: translate(-50%, -50%);
        transition: background-color 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0.3s ease 0s;
        opacity: 0;
        visibility: hidden;
        &::before {
            transition: color 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $gray_01;
                &::before {
                    color: $white;
                }
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        gap: rem(20);
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__text {
        flex: 0 1 rem(540);
        @extend %text;
        opacity: 0.7;
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            text-align: center;
        }
    }

    &__btn {
        border: rem(1) solid $secondary_02;
        background: $secondary_02;
        height: rem(50);
        padding: 0px rem(40);
        @extend %label;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: $white;
        transition: background-color 0.3s ease 0s, border 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                border: rem(1) solid $primary;
                background-color: $primary;
            }
        }

        @media (min-width: $mobile) {
            margin-left: rem(20);
        }
    }
}

//========================================================================================================================================================

.awards {
    &__container {
        border-top: rem(1) solid hsla(0, 0%, 13%, 0.2);
        @include adaptiveValue("padding-top", 60, 30, 1110, 479.98, 1);
        display: flex;
        gap: rem(20);
        justify-content: space-between;
        @media (max-width: $mobile) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__subtitle {
        @media (min-width: $mobile) {
            flex: 0 1 rem(200);
        }
        img {
            max-width: 100%;
        }
    }

    &__item {
        @media (min-width: $mobile) {
            flex: 0 1 rem(635);
        }
    }
}
.awards-item {
    &__row {
        display: flex;
        justify-content: space-between;
        @include adaptiveValue("gap", 20, 10, 767.98, 479.98, 1);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 30, 991.98, 479.98, 1);
        }
        @media (max-width: $mobileSmall) {
            flex-wrap: wrap;
        }
    }

    &__title {
        @extend %subtitle;
        @media (max-width: $mobile) {
            flex: 0 1 35%;
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
            text-align: center;
        }
    }

    &__info {
        flex: 0 1 rem(230);
        @media (min-width: $mobile) {
            margin-left: rem(65);
        }
        @media (max-width: $mobile) {
            flex: 1 1 auto;
            text-align: center;
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
            text-align: center;
        }
    }

    &__label {
        @extend %label;
        @include adaptiveValue("margin-bottom", 15, 5, 767.98, 479.98, 1);
    }

    &__text {
        @extend %text;
        opacity: 0.7;
    }

    &__year {
        @extend %text;
        @media (max-width: $mobile) {
            text-align: right;
            flex: 0 0 10%;
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
            text-align: center;
        }
    }
}
