.page-blog {
   &__topic {
      @include adaptiv-value("padding-top", 162, 80, 1);
      @include adaptiv-value("margin-bottom", 135, 50, 1);
   }
   &__explore {
      @include adaptiv-value("margin-bottom", 160, 60, 1);
   }

   &__awards {
      @include adaptiv-value("margin-bottom", 120, 40, 1);
   }
}

//========================================================================================================================================================

.topic {
   &__container {
   }

   &__top {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      @include adaptiv-value("margin-bottom", 86, 30, 1);
      @media (max-width: $md3+px) {
         text-align: center;
         flex-wrap: wrap;
         text-align: center;
      }
   }

   &__title {
      flex: 0 1 540px;
      @extend .h1;
      @include adaptiv-value("margin-right", 20, 10, 0);
      @media (max-width: $md3+px) {
         flex: 1 1 100%;
         margin: 0px 0px 20px 0px;
      }
   }

   &__socials {
      display: flex;
      @include adaptiv-value("margin-left", 20, 10, 0);
      @include adaptiv-value("margin-bottom", 14, 0, 1);
      @media (max-width: $md3+px) {
         margin: 0;
         flex: 1 1 100%;
         justify-content: center;
      }
   }

   &__item {
      font-size: 14px;
      color: #222222;
      margin: 0px 0px 0px 10px;
      opacity: 1;
      transition: all 0.3s ease 0s;
      &::before {
         color: #222222;
      }
      &:first-child {
         margin: 0;
      }
      @media (min-width: $md2+px) {
         &:hover {
            opacity: 0.4;
         }
      }
   }

   &__body {
   }

   &__image {
      padding: 0px 0px 52.3% 0px;
      @include adaptiv-value("margin-bottom", 40, 20, 1);
      @media (max-width: $md3+px) {
         min-height: 250px;
      }
      img {
      }
   }

   &__text {
      opacity: 0.7;
      @extend .text;
      @media (max-width: $md3+px) {
         text-align: center;
      }
   }
}

//========================================================================================================================================================

.explore {
   &__container {
   }

   &__top {
      display: flex;
      margin: 0px -15px 15px -15px;
      @media (max-width: $md3+px) {
         flex-wrap: wrap;
         margin: 0px 0px 15px 0px;
      }
   }

   &__column {
      flex: 0 1 33.333%;
      padding: 0px 15px;
      position: relative;
      margin: 0px 0px 30px 0px;
      @media (max-width: $md3+px) {
         flex: 1 1 100%;
         padding: 0;
      }
   }

   &__image {
      padding: 0px 0px 130% 0px;
      @media (max-width: $md3+px) {
         padding: 0;
         @include adaptiv-value("height", 400, 200, 1);
      }
   }

   &__gallery-play {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 6;
      @include adaptiv-font(20, 16, 1);
      @include adaptiv-value("width", 65, 50, 1);
      @include adaptiv-value("height", 65, 50, 1);
      background-color: #fff;
      top: 50%;
      left: 50%;
      cursor: pointer;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease 0s;
      opacity: 1;
      visibility: visible;
      &::before {
         transition: all 0.3s ease 0s;
      }
      @media (min-width: $md2+px) {
         &:hover {
            background-color: #515151;
            &::before {
               color: #fff;
            }
         }
      }
   }

   &__bottom {
      display: flex;
      justify-content: space-between;
      @media (max-width: $md3+px) {
         flex-wrap: wrap;
         justify-content: center;
      }
   }

   &__text {
      margin: 0px 20px 0px 0px;
      flex: 0 1 540px;
      @extend .text;
      opacity: 0.7;
      @media (max-width: $md3+px) {
         flex-wrap: wrap;
         margin: 0px 0px 20px 0px;
         text-align: center;
      }
   }

   &__btn {
      margin: 0px 0px 0px 20px;
      border: 1px solid #ef8e70;
      background: #ef8e70;
      height: 50px;
      padding: 0px 40px;
      @extend .label;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      transition: all 0.3s ease 0s;
      @media (min-width: $md2+px) {
         &:hover {
            border: 1px solid #4737ff;
            background: #4737ff;
         }
      }
      @media (max-width: $md3+px) {
         margin: 0;
      }
   }
}

//========================================================================================================================================================

.awards {
   &__container {
      border-top: 1px solid hsla(0, 0%, 13%, 0.2);
      @include adaptiv-value("padding-top", 60, 30, 1);
      display: flex;
      justify-content: space-between;
      @media (max-width: $md3+px) {
         justify-content: center;
         flex-wrap: wrap;
      }
   }

   &__column {
      margin: 0px 20px 0px 0px;
      &:first-child {
         flex: 0 1 200px;
      }
      @media (max-width: $md3+px) {
         flex: 1 1 100%;
         margin: 0px 0px 20px 0px;
         &:first-child {
            flex: 1 1 100%;
            text-align: center;
         }
         &:last-child {
            margin: 0px;
         }
      }
   }

   &__subtitle {
      @extend .title;
   }
}
.awards-item {
   margin: 0px 0px 0px 20px;
   flex: 0 1 635px;
   @media (max-width: $md3+px) {
      flex: 1 1 100%;
   }
   &__row {
      display: flex;
      justify-content: space-between;
      @include adaptiv-value("margin-bottom", 60, 20, 1);
      @media (max-width: $md3+px) {
         &:last-child {
            margin: 0px 0px 0px 0px;
         }
      }
      @media (max-width: $md4+px) {
         flex-wrap: wrap;
      }
   }

   &__title {
      @extend .subtitle;
      @media (max-width: $md3+px) {
         flex: 0 0 35%;
      }
      @media (max-width: $md4+px) {
         flex: 1 1 100%;
         text-align: center;
         margin: 0px 0px 20px 0px;
      }
   }

   &__info {
      flex: 0 1 255px;
      margin: 0px 20px 0px 85px;
      @media (max-width: $md2+px) {
         margin: 0px 20px;
      }
      @media (max-width: $md3+px) {
         flex: 1 1 auto;
         text-align: center;
      }
      @media (max-width: $md4+px) {
         flex: 1 1 100%;
         text-align: center;
         margin: 0px 0px 20px 0px;
      }
   }

   &__label {
      @extend .label;
      @include adaptiv-value("margin-bottom", 15, 10, 1);
   }

   &__text {
      @extend .text;
      opacity: 0.7;
   }

   &__year {
      @extend .text;
      @media (max-width: $md3+px) {
         text-align: right;
         flex: 0 0 10%;
      }
      @media (max-width: $md4+px) {
         flex: 1 1 100%;
         text-align: center;
      }
   }
}
