.page-blog {
    &__topic {
        @include adaptiveValue("padding-top", 162, 80, 1110, 479.98, 1);
        @include adaptiveValue("margin-bottom", 135, 50, 1110, 479.98, 1);
    }
    &__explore {
        @include adaptiveValue("margin-bottom", 160, 60, 1110, 479.98, 1);
    }

    &__awards {
        @include adaptiveValue("margin-bottom", 120, 40, 1110, 479.98, 1);
    }
}

//========================================================================================================================================================

.topic {
    &__container {
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include adaptiveValue("margin-bottom", 86, 30, 1110, 479.98, 1);
        @media (max-width: $mobile) {
            text-align: center;
            flex-wrap: wrap;
            text-align: center;
        }
    }

    &__title {
        flex: 0 1 540px;
        @extend %h1;
        @include adaptiveValue("margin-right", 20, 10, 1110, 479.98, 0);
        @media (max-width: $mobile) {
            flex: 1 1 100%;
            margin: 0px 0px 20px 0px;
        }
    }

    &__socials {
        display: flex;
        @include adaptiveValue("margin-left", 20, 10, 1110, 479.98, 0);
        @include adaptiveValue("margin-bottom", 14, 0, 1110, 479.98, 1);
        @media (max-width: $mobile) {
            margin: 0;
            flex: 1 1 100%;
            justify-content: center;
        }
    }

    &__item {
        margin: 0px 0px 0px 10px;
        opacity: 1;
        transition: all 0.3s ease 0s;
        &:first-child {
            margin: 0;
        }
        @media (any-hover: hover) {
            &:hover {
                opacity: 0.4;
            }
        }
    }

    &__body {
    }

    &__image {
        padding: 0px 0px 52.3% 0px;
        @include adaptiveValue("margin-bottom", 40, 20, 1110, 479.98, 1);
        @media (max-width: $mobile) {
            min-height: 250px;
        }
    }

    &__text {
        opacity: 0.7;
        @extend %text;
        @media (max-width: $mobile) {
            text-align: center;
        }
    }
}

//========================================================================================================================================================

.explore {
    &__container {
    }

    &__top {
        display: flex;
        margin: 0px -15px 15px -15px;
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            margin: 0px 0px 15px 0px;
        }
    }

    &__column {
        flex: 0 1 33.333%;
        padding: 0px 15px;
        position: relative;
        margin: 0px 0px 30px 0px;
        @media (max-width: $mobile) {
            flex: 1 1 100%;
            padding: 0;
        }
    }

    &__image {
        padding: 0px 0px 130% 0px;
        @media (max-width: $mobile) {
            padding: 0;
            @include adaptiveValue("height", 400, 200, 1110, 479.98, 1);
        }
    }

    &__gallery-play {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 6;
        @include adaptiveValue("font-size", 20, 16, 1110, 479.98, 1);
        @include adaptiveValue("width", 65, 50, 1110, 479.98, 1);
        @include adaptiveValue("height", 65, 50, 1110, 479.98, 1);
        background-color: $white;
        top: 50%;
        left: 50%;
        cursor: pointer;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease 0s;
        opacity: 1;
        visibility: visible;
        &::before {
            transition: all 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $gray_01;
                &::before {
                    color: $white;
                }
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__text {
        margin: 0px 20px 0px 0px;
        flex: 0 1 540px;
        @extend %text;
        opacity: 0.7;
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            margin: 0px 0px 20px 0px;
            text-align: center;
        }
    }

    &__btn {
        border: 1px solid $secondary_02;
        background: $secondary_02;
        height: 50px;
        padding: 0px 40px;
        @extend %label;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: $white;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                border: 1px solid $primary;
                background: $primary;
            }
        }

        @media (min-width: $mobile) {
            margin-left: rem(20);
        }
    }
}

//========================================================================================================================================================

.awards {
    &__container {
        border-top: 1px solid hsla(0, 0%, 13%, 0.2);
        @include adaptiveValue("padding-top", 60, 30, 1110, 479.98, 1);
        display: flex;
        justify-content: space-between;
        @media (max-width: $mobile) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__column {
        margin: 0px 20px 0px 0px;
        &:first-child {
            flex: 0 1 200px;
        }
        @media (max-width: $mobile) {
            flex: 1 1 100%;
            margin: 0px 0px 20px 0px;
            &:first-child {
                flex: 1 1 100%;
                text-align: center;
            }
            &:last-child {
                margin: 0px;
            }
        }
    }

    &__subtitle {
        @extend %title;
    }
}
.awards-item {
    margin: 0px 0px 0px 20px;
    flex: 0 1 635px;
    @media (max-width: $mobile) {
        flex: 1 1 100%;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        @include adaptiveValue("margin-bottom", 60, 20, 1110, 479.98, 1);
        @media (max-width: $mobile) {
            &:last-child {
                margin: 0px 0px 0px 0px;
            }
        }
        @media (max-width: $mobileSmall) {
            flex-wrap: wrap;
        }
    }

    &__title {
        @extend %subtitle;
        @media (max-width: $mobile) {
            flex: 0 0 35%;
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
            text-align: center;
            margin: 0px 0px 20px 0px;
        }
    }

    &__info {
        flex: 0 1 255px;
        margin: 0px 20px 0px 85px;
        @media (max-width: $tablet) {
            margin: 0px 20px;
        }
        @media (max-width: $mobile) {
            flex: 1 1 auto;
            text-align: center;
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
            text-align: center;
            margin: 0px 0px 20px 0px;
        }
    }

    &__label {
        @extend %label;
        @include adaptiveValue("margin-bottom", 15, 10, 1110, 479.98, 1);
    }

    &__text {
        @extend %text;
        opacity: 0.7;
    }

    &__year {
        @extend %text;
        @media (max-width: $mobile) {
            text-align: right;
            flex: 0 0 10%;
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
            text-align: center;
        }
    }
}
