%h1 {
    font-weight: 700;
    @include adaptiveValue("font-size", 60, 40, 1110, 479.98, 1);
    line-height: math.div(70, 60);
    letter-spacing: rem(-1);
    color: $dark_02;
}

%text {
    font-size: rem(18);
    line-height: math.div(28, 18);
}

%title {
    font-weight: 600;
    @include adaptiveValue("font-size", 40, 30, 1110, 479.98, 1);
    line-height: math.div(50, 40);
    letter-spacing: rem(-1);
}

%subtitle {
    font-weight: 500;
    font-size: rem(22);
    line-height: math.div(32, 22);
}

%label {
    font-weight: 500;
    font-size: rem(14);
    line-height: math.div(24, 14);
    letter-spacing: rem(4);
    text-transform: uppercase;
}
