%h1 {
    font-weight: 700;
    @include adaptiveValue("font-size", 60, 40, 1110, 479.98, 1);
    line-height: math.div(70, 60);
    letter-spacing: rem(-1);
    color: $dark_02;
}

%text {
    font-size: rem(18);
    line-height: math.div(28, 18);
}

%title {
    font-weight: 600;
    @include adaptiveValue("font-size", 40, 30, 1110, 479.98, 1);
    line-height: math.div(50, 40);
    letter-spacing: rem(-1);
}

%subtitle {
    font-weight: 500;
    font-size: rem(22);
    line-height: math.div(32, 22);
}

%label {
    font-weight: 500;
    font-size: rem(14);
    line-height: math.div(24, 14);
    letter-spacing: rem(4);
    text-transform: uppercase;
}

//========================================================================================================================================================

.navigation {
    display: flex;
    gap: rem(25);
    align-items: center;
    @media (max-width: $mobileSmall) {
        justify-content: center;
    }
    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $light_04;
        width: rem(50);
        height: rem(50);
        transition: background-color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                background-color: $gray_01;
            }
        }
        img {
            max-width: 100%;
        }
        &_prev {
            transform: rotate(-180deg);
        }

        &_next {
        }
    }
}
