//====================================================================================================
//====================================================================================================
.header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: $light_01;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptiveValue("min-height", 142, 60, 1110, 479.98, 1);
        transition: all 0.5s ease 0s;
    }

    &__logo {
        position: relative;
        z-index: 10;
        img {
            max-width: 100%;
        }
    }

    &__menu {
    }

    &__search {
        position: absolute;
        z-index: 10;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        &::after {
            font-size: rem(20);
            color: $mainColor;
            transition: color 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                &::after {
                    color: $primary;
                }
            }
        }
    }

    &__icon {
    }
}
.menu {
    &__body {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        z-index: 5;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: auto;
        background-color: $white;
        transition: all 0.8s ease 0s;
        @include adaptiveValue("padding-top", 160, 90, 1110, 479.98, 1);
        @include adaptiveValue("padding-bottom", 60, 20, 1110, 479.98, 1);
        &::after {
            content: "";
            position: fixed;
            z-index: 6;
            width: 100%;
            @include adaptiveValue("height", 142, 60, 1110, 479.98, 1);
            top: 0;
            left: 0;
            background-color: $white;
        }
        &._active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__list {
    }

    &__item {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 20, 1110, 479.98, 1);
        }
    }

    &__link {
        font-weight: 600;
        @include adaptiveValue("font-size", 14, 20, 991.98, 479.98, 1);
        line-height: math.div(24, 14);
        letter-spacing: rem(4);
        text-transform: uppercase;
        color: $black;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $primary;
            }
        }
    }
}

// popUP header
//========================================================================================================================================================

.header {
    &__search-popup {
    }
}

.popup-search {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $mobile) {
        flex-wrap: wrap;
    }
    &__input {
        @media (max-width: $mobile) {
            margin-bottom: rem(20);
        }
    }

    &__btn {
        @media (min-width: $mobile) {
            margin-left: rem(15);
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }
}

//====================================================================================================

.icon-menu {
    display: none;
    @media (max-width: $mobile) {
        display: block;
        position: relative;
        width: rem(34);
        height: rem(14);
        cursor: pointer;
        z-index: 5;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            right: 0;
            position: absolute;
            height: rem(3);
            background-color: $mainColor;
        }
        &::before {
            top: 0;
            width: 100%;
        }
        span {
            bottom: 0;
            width: rem(18);
        }
        @media (any-hover: hover) {
            &:hover {
                span {
                    width: 100%;
                }
            }
        }
        .menu-open & {
            span {
                bottom: calc(50% - rem(1));
                transform: rotate(45deg);
            }
            &::before {
                top: calc(50% - rem(1));
                transform: rotate(-45deg);
            }
        }
    }
}
