.header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: $light_01;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptiveValue("min-height", 142, 60, 1110, 479.98, 1);
        transition: min-height 0.8s ease 0s;
        ._scroll & {
            min-height: rem(60);
        }
    }

    &__logo {
        position: relative;
        z-index: 10;
        img {
            max-width: 100%;
        }
    }

    &__menu {
    }

    &__search {
    }

    &__icon {
    }
}

.search-header {
    position: absolute;
    z-index: 10;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    &__icon {
        &::after {
            cursor: pointer;
            font-size: rem(20);
            color: $mainColor;
            transition: color 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                &::after {
                    color: $primary;
                }
            }
        }
        ._active & {
            &::after {
                color: $primary;
            }
        }
    }

    &__form {
        position: absolute;
        @include adaptiveValue("width", 900, 290, 1110, 320, 1);
        top: rem(20);
        left: 50%;
        background-color: $gray_01;
        transform: translate(-50%, 0px);
        padding: rem(10);
        box-shadow: 0 rem(20) rem(40) rgb(34, 34, 34, 0.5);
        visibility: hidden;
        opacity: 0;
        transition: top 0.3s ease 0s, visibility 0.3s ease 0s, opacity 0.3s ease 0s;
        @media (min-width: $mobileSmall) {
            padding: rem(20);
            gap: rem(20);
            display: flex;
            align-items: center;
        }
        ._active & {
            top: rem(60);
            visibility: visible;
            opacity: 1;
        }
    }

    &__input {
        @media (max-width: $mobileSmall) {
            margin-bottom: rem(10);
        }
    }

    &__btn {
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
}

.menu {
    &__body {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        z-index: 5;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: overlay;
        @include scrollbars(rem(10), $secondary_01, transparent);
        background-color: $white;
        transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
        @include adaptiveValue("padding-top", 160, 90, 1110, 479.98, 1);
        @include adaptiveValue("padding-bottom", 60, 20, 1110, 479.98, 1);
        &::after {
            content: "";
            position: fixed;
            z-index: 6;
            width: 100%;
            @include adaptiveValue("height", 142, 60, 1110, 479.98, 1);
            top: 0;
            left: 0;
            background-color: $white;
        }
        ._scroll & {
            padding-top: rem(90);
            &::after {
                height: rem(60);
            }
        }
        .menu-open & {
            opacity: 1;
            visibility: visible;
        }
    }

    &__list {
    }

    &__item {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 20, 1110, 479.98, 1);
        }
    }

    &__link {
        font-weight: 600;
        @include adaptiveValue("font-size", 14, 20, 991.98, 479.98, 1);
        line-height: math.div(24, 14);
        letter-spacing: rem(4);
        text-transform: uppercase;
        color: $black;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $primary;
            }
        }
    }
}

.icon-menu {
    display: block;
    position: relative;
    width: rem(34);
    height: rem(14);
    cursor: pointer;
    z-index: 5;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    span,
    &::before,
    &::after {
        content: "";
        transition: all 0.3s ease 0s;
        right: 0;
        position: absolute;
        height: rem(3);
        background-color: $mainColor;
    }
    &::before {
        top: 0;
        width: 100%;
    }
    span {
        bottom: 0;
        width: rem(18);
    }
    @media (any-hover: hover) {
        &:hover {
            span {
                width: 100%;
            }
        }
    }
    .menu-open & {
        span {
            width: 100%;
            bottom: calc(50% - rem(2));
            transform: rotate(45deg);
        }
        &::before {
            top: calc(50% - rem(1));
            transform: rotate(-45deg);
        }
    }
}
