.fullscreen {
    position: relative;
    ._scroll & {
        margin-top: rem(60);
    }

    &__slider {
        overflow: visible !important;
        .swiper-slide {
            visibility: hidden;
        }
        .swiper-slide-active {
            visibility: visible;
        }
    }

    &__slide {
        display: flex;
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            position: relative;
        }
    }

    &__column {
        flex: 0 0 100%;
        display: flex;
        @media (max-width: $mobile) {
            flex: 1 1 auto;
        }
    }
    &__image-ibg {
        @media (min-width: $pc) {
            @include adaptiveValue("margin-bottom", -80, 0, 1110, 479.98, 1);
        }
        @media (min-width: $mobile) {
            flex: 0 0 percent(665, 1360);
            transform: translate(-100%, 0px);
            @include adaptiveValue("height", 840, 500, 1110, 767.98, 1);
        }
        @media (max-width: $mobile) {
            flex: 1 1 auto;
            transform: translate(0px, 0px);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
    &__pagination {
        @include adaptiveValue("margin-bottom", 130, 20, 1110, 850, 1);
        display: flex;
        align-items: center;
        @media (max-width: $mobile) {
            justify-content: center;
        }
    }

    &__number {
        @extend %text;
    }

    &__progressbar {
        margin: 0px rem(10);
        @include adaptiveValue("width", 280, 180, 1110, 479.98, 1);
        height: rem(2);
        background: $light_03;
        position: relative;
        .swiper-pagination-progressbar-fill {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $secondary_01;
            transform-origin: left top;
        }
    }

    &__video {
        // @include adaptiveValue("height", 500, 350, 1110, 479.98, 1);
    }
}

.column-fullscreen-info {
    @media (max-width: $mobile) {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $white;
            opacity: 0.8;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        @media (max-width: $mobile) {
            position: relative;
            z-index: 2;
        }
    }
    &__body {
        @include adaptiveValue("padding-top", 70, 20, 1110, 479.98, 1);
        @media (min-width: $mobile) {
            flex: 1 1 auto;
            @include adaptiveValue("padding-right", 95, 20, 1110, 991.98, 1);
            width: percent(695, 1360);
        }
        @media (max-width: $mobile) {
            text-align: center;
        }
    }
    &__title {
        @extend %h1;
        @include adaptiveValue("margin-bottom", 30, 20, 1110, 479.98, 1);
    }

    &__text {
        @extend %text;
        opacity: 0.7;
        @include adaptiveValue("margin-bottom", 55, 25, 1110, 479.98, 1);
    }

    &__btn {
        @include adaptiveValue("margin-bottom", 60, 20, 1110, 479.98, 1);
    }
}

.popup-video {
    position: absolute;
    z-index: 4;
    width: rem(400);
    height: rem(310);
    bottom: rem(84);
    left: percent(695, 1360);
    transform: translate(-30%, 0);
    box-shadow: rem(-20) rem(60) rem(220) rgba(0, 0, 0, 0.44);
    overflow: hidden;
    @media (max-width: $pc) {
        width: percent(665, 1360);
        top: 50%;
        bottom: auto;
        transform: translate(0px, -50%);
    }
    @media (max-width: $mobile) {
        @include adaptiveValue("height", 300, 250, 767.98, 320, 1);
        position: relative;
        width: 100%;
        left: 50%;
        top: auto;
        bottom: 0;
        transform: translate(-50%, 0px);
    }

    &__thumbnail {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @media (min-width: $tablet) {
            &:hover {
                .popup-video__cover {
                    transform: scale(1.05);
                }
            }
        }
    }

    &__cover-ibg {
        position: absolute;
        z-index: 5;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: transform 1.5s ease 0s;
        img {
            object-position: 0 64%;
        }
    }

    &__control-icon {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: rem(20);
        z-index: 6;
        width: rem(65);
        height: rem(65);
        background-color: $white;
        top: 50%;
        left: 50%;
        cursor: pointer;
        transform: translate(-50%, -50%);
        transition: background-color 0.3s ease 0s;
        &::before {
            transition: color 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $gray_01;
                &::before {
                    color: $white;
                }
            }
        }
    }
}

//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================

.about {
    &__container {
        @media (min-width: $mobile) {
            position: relative;
            display: flex;
            justify-content: space-between;
            gap: rem(40);
        }
    }

    &__img-ibg {
        @media (min-width: $mobile) {
            flex: 0 1 rem(475);
            min-height: 100%;
        }
        min-height: rem(300);
        @media (max-width: $mobile) {
            @include adaptiveValue("margin-bottom", 40, 30, 767.98, 479.98, 1);
        }
    }

    &__info {
        @media (min-width: $tablet) {
            padding-top: rem(40);
            padding-bottom: rem(90);
        }
        @media (min-width: $mobile) {
            padding: rem(20) 0;
            flex: 0 1 rem(540);
        }
        @media (max-width: $mobile) {
            text-align: center;
        }
    }

    &__title {
        @extend %title;
        @include adaptiveValue("margin-bottom", 30, 10, 1110, 479.98, 1);
    }

    &__text {
        @include adaptiveValue("margin-bottom", 60, 20, 1110, 479.98, 1);
        p {
            @extend %text;
            opacity: 0.7;
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 20, 10, 1110, 479.98, 1);
            }
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        @media (max-width: $mobile) {
            justify-content: center;
        }
    }

    &__avatar-ibg {
        flex: 0 0 rem(65);
        height: rem(65);
        @include adaptiveValue("margin-right", 30, 15, 1110, 479.98, 1);
        border-radius: 50%;
        overflow: hidden;
    }

    &__person {
    }

    &__name {
        @extend %subtitle;
        margin-bottom: rem(5);
    }

    &__job {
        @extend %text;
        opacity: 0.7;
    }
}

//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================

.services {
    &__top {
    }

    &__top-container {
    }

    &__subject {
        @extend %label;
        opacity: 0.7;
        @include adaptiveValue("margin-bottom", 40, 20, 1110, 479.98, 1);
    }

    &__row {
        display: flex;
        justify-content: space-between;
        @include adaptiveValue("margin-bottom", 80, 15, 1110, 479.98, 1);
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__column {
        &:first-child {
            flex: 0 1 540px;
            margin: 0px 20px 0px 0px;
            @media (max-width: $mobile) {
                flex: 1 1 100%;
                margin: 0;
            }
        }
        &:last-child {
            flex: 0 1 410px;
            margin: 10px 0px 0px 20px;
            display: flex;
            justify-content: space-between;
            @media (max-width: $mobile) {
                margin: 0;
                flex: 1 1 100%;
            }
            @media (max-width: $mobileSmall) {
                flex-wrap: wrap;
            }
        }
    }

    &__title {
        @extend %title;
        @media (max-width: $mobile) {
            @include adaptiveValue("margin-bottom", 30, 20, 1110, 479.98, 1);
            text-align: center;
        }
    }

    &__list {
        flex: 0 1 45%;
        padding: 0px 20px 0px 0px;
        @media (max-width: $mobile) {
            flex: 0 1 50%;
            padding: 0;
            text-align: center;
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
        &:last-child {
            padding: 0;
        }
        li {
            @include adaptiveValue("margin-bottom", 20, 15, 1110, 479.98, 1);
        }
    }

    &__item {
        @extend %text;
        opacity: 0.7;
        transition: all 0.3s ease 0s;
        @media (min-width: $tablet) {
            &:hover {
                opacity: 1;
            }
        }
    }

    &__bottoom {
        @include adaptiveValue("margin-bottom", 50, 20, 1110, 479.98, 1);
    }

    &__bottoom-container {
    }

    &__slider {
        width: 74.3%;
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }

    &__slide {
        position: relative;
        @include adaptiveValue("height", 500, 250, 1110, 479.98, 1);
        transition: all 1.5s ease 0s;
        overflow: hidden;
        @media (min-width: $tablet) {
            &:hover {
                .services__image {
                    transform: scale(1.05);
                }
            }
        }
        &.swiper-slide {
            opacity: 0.3;
            pointer-events: none;
        }
        &.swiper-slide-active {
            opacity: 1;
            pointer-events: auto;
        }
    }

    &__image {
        transition: all 1s ease 0s;
        transform: scale(1);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__link {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        z-index: 6;
        width: 65px;
        height: 65px;
        background-color: $white;
        top: 50%;
        left: 50%;
        cursor: pointer;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease 0s;
        &::before {
            transition: all 0.3s ease 0s;
        }
        @media (min-width: $tablet) {
            &:hover {
                background-color: $gray_01;
                &::before {
                    color: $white;
                }
            }
        }
    }
    &__navigation {
        display: flex;
        @media (max-width: $mobileSmall) {
            justify-content: center;
            align-items: center;
        }
    }

    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $light_04;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:first-child {
            margin: 0px 25px 0px 0px;
        }
        @media (min-width: $tablet) {
            &:hover {
                background-color: $gray_01;
            }
        }
        img {
            max-width: 100%;
        }
    }
}

//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================

.easy {
    &__content {
        display: flex;
        @media (max-width: $mobile) {
            flex-wrap: wrap;
        }
    }

    &__column {
        flex: 0 0 100%;
        @media (max-width: $mobile) {
            flex: 1 1 100%;
        }
    }
}
.easy-images {
    @media (max-width: $mobile) {
        margin-bottom: 10px;
    }
    &__body {
        display: flex;
    }
    &__bg {
        position: relative;
        flex: 0 1 42%;
        @include adaptiveValue("height", 420, 250, 1110, 479.98, 1);
        @media (max-width: $mobile) {
            flex: 1 1 100%;
        }
    }

    &__picture {
        position: absolute;
        @include adaptiveValue("width", 350, 200, 1110, 479.98, 1);
        height: 107%;
        @include adaptiveValue("top", 100, 0, 1110, 479.98, 1);
        right: -16.7%;
        filter: drop-shadow(30px 80px 180px rgba(0, 0, 0, 0.25));
        @media (max-width: $mobile) {
            height: 100%;
            top: 0;
            right: 0;
        }
        @media (max-width: $mobileSmall) {
            width: 50%;
        }
    }
}
.easy-info {
    @include adaptiveValue("margin-top", 40, 0, 1110, 479.98, 1);
    transform: translate(-100%, 0px);
    @media (max-width: $tablet) {
        margin-top: 20px;
    }
    @media (max-width: $mobile) {
        transform: translate(0px, 0px);
    }
    &__container {
        display: flex;
        justify-content: flex-end;
    }
    &__body {
        flex: 0 1 43%;
        @media (max-width: $mobile) {
            flex: 1 1 100%;
            text-align: center;
        }
    }
    &__title {
        @extend %title;
        margin: 0px 0px 15px 0px;
    }

    &__text {
        @extend %text;
        opacity: 0.7;
        @include adaptiveValue("margin-bottom", 60, 20, 1110, 479.98, 1);
    }

    &__bonus {
        display: flex;
        align-items: center;
        @include adaptiveValue("margin-bottom", 30, 20, 1110, 479.98, 1);
        @media (max-width: $mobile) {
            justify-content: center;
        }
    }

    &__icon {
        background: $light_05;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 54px;
        flex: 0 0 54px;
        border-radius: 50%;
        overflow: hidden;
        img {
            max-width: 100%;
        }
    }

    &__label {
        margin: 0px 0px 0px 30px;
        @extend %label;
    }
}

//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================

.works {
    &__container {
    }

    &__top {
    }

    &__subject {
        @extend %label;
        opacity: 0.7;
        @include adaptiveValue("margin-bottom", 40, 20, 1110, 479.98, 1);
    }

    &__row {
        display: flex;
        justify-content: space-between;
        @include adaptiveValue("margin-bottom", 100, 30, 1110, 479.98, 1);
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__column {
        &:first-child {
            flex: 0 1 540px;
            margin: 0px 20px 0px 0px;
            @media (max-width: $mobile) {
                flex: 1 1 100%;
                margin: 0px 0px 20px 0px;
            }
        }
        &:last-child {
            flex: 0 1 470px;
            margin: 0px 0px 0px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: $mobile) {
                margin: 0;
                flex: 1 1 100%;
            }
            @media (max-width: $mobileSmall) {
                flex-wrap: wrap;
            }
        }
    }

    &__title {
        @extend %title;
        @media (max-width: $mobile) {
            text-align: center;
        }
    }

    &__filter {
        flex: 1 1 100%;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        li {
            &:not(:last-child) {
                margin-right: rem(12);
            }
        }
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            justify-content: space-around;
            li {
                margin: 0px 10px 10px 10px;
            }
        }
    }

    &__link {
        @extend %label;
        opacity: 0.7;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        @media (min-width: $tablet) {
            &:hover {
                color: $primary_02;
                opacity: 1;
            }
        }
        &._active {
            color: $primary_02;
            opacity: 1;
        }
    }

    &__body {
        @include adaptiveValue("margin-bottom", 50, 20, 1110, 479.98, 1);
    }

    &__gallery {
        display: flex;
        margin: 0px -15px;
        flex-wrap: wrap;
        @media (max-width: $mobile) {
            margin: 0px -5px;
        }
    }

    &__gallery-column {
        padding: 0px 15px;
        margin: 0px 0px 30px 0px;
        flex: 0 1 33.333%;
        position: relative;
        @include adaptiveValue("height", 450, 200, 1110, 479.98, 1);
        &._hide {
            display: none !important;
        }

        @media (max-width: $mobile) {
            flex: 0 1 50%;
            padding: 0px 5px;
            margin: 0px 0px 10px 0px;
            display: none;
            &:nth-child(-n + 10) {
                display: block;
            }
        }
    }

    &__gallery-link {
        position: absolute;
        width: calc(100% - 30px);
        height: 100%;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0px);
        transition: all 1s ease 0s;
        @media (min-width: $tablet) {
            &:hover {
                transform: translate(-50%, -20px);
                .works__gallery-play {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        @media (max-width: $tablet) {
            .works__gallery-play {
                opacity: 1;
                visibility: visible;
            }
        }
        @media (max-width: $mobile) {
            width: calc(100% - 10px);
        }
    }
    .works__gallery-play {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 6;
        @include adaptiveValue("font-size", 20, 16, 1110, 479.98, 1);
        @include adaptiveValue("width", 65, 50, 1110, 479.98, 1);
        @include adaptiveValue("height", 65, 50, 1110, 479.98, 1);
        background-color: $white;
        top: 50%;
        left: 50%;
        cursor: pointer;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease 0s;
        opacity: 0;
        visibility: hidden;
        &::before {
            transition: all 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $gray_01;
                &::before {
                    color: $white;
                }
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
        }
    }

    &__bottom-text {
        flex: 0 1 730px;
        @extend %text;
        opacity: 0.7;
        margin: 0px 20px 0px 0px;
        @media (max-width: $mobile) {
            flex: 1 1 100%;
            margin: 0px 0px 20px 0px;
        }
    }

    &__bottom-btn {
        padding: 0px 30px;
    }
}

//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================

.testimonials {
    &__container {
        position: relative;
    }

    &__slider {
    }

    &__slide {
        display: flex;
        justify-content: space-between;
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__column {
    }
    &__navigation {
        position: absolute;
        bottom: 0;
        left: 15px;
        display: flex;
        @media (max-width: $mobile) {
            position: relative;
            left: 0;
            margin-top: 10px;
            justify-content: center;
        }
    }

    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $light_04;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:first-child {
            margin-right: rem(25);
        }
        @media (min-width: $tablet) {
            &:hover {
                background-color: $gray_01;
            }
        }
        img {
            max-width: 100%;
        }
    }
}
.testimonials-info {
    flex: 0 1 540px;
    margin: 0px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: $mobile) {
        flex: 1 1 100%;
        margin: 0px 0px 20px 0px;
        text-align: center;
    }
    &__top {
        margin-bottom: 10px;
    }

    &__label {
        @extend %label;
        @include adaptiveValue("margin-bottom", 70, 20, 1110, 479.98, 1);
        text-align: left !important;
    }

    &__title {
        @extend %title;
    }

    &__bottom {
        margin-top: 10px;
        @include adaptiveValue("margin-bottom", 130, 80, 1110, 479.98, 1);
        @media (max-width: $mobile) {
            margin-bottom: 0;
        }
    }

    &__name {
        @extend %subtitle;
        @include adaptiveValue("margin-bottom", 15, 10, 1110, 479.98, 1);
    }

    &__job {
        @extend %text;
        opacity: 0.7;
    }
}
.testimonials-person {
    flex: 0 1 445px;
    margin: 0px 0px 0px 20px;
    @media (max-width: $mobile) {
        display: none;
    }
    &__image {
        padding: 0px 0px 139.326% 0px;
        @media (max-width: $tablet) {
            height: 100%;
        }
    }
}

//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================

.clients {
    background-color: $light_06;
    @include adaptiveValue("padding-top", 100, 40, 1110, 479.98, 1);
    @include adaptiveValue("padding-bottom", 115, 20, 1110, 479.98, 1);
    &__container {
    }

    &__top {
        display: flex;
        justify-content: space-between;
        @include adaptiveValue("margin-bottom", 70, 30, 1110, 479.98, 1);
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            text-align: center;
        }
    }

    &__top-column {
        &:first-child {
            flex: 0 1 470px;
            margin: 0px 20px 0px 0px;
            @media (max-width: $mobile) {
                flex: 1 1 100%;
                margin: 0px 0px 20px 0px;
            }
        }
        &:last-child {
            flex: 0 1 445px;
            margin: 0px 0px 0px 20px;
            @media (max-width: $mobile) {
                flex: 1 1 100%;
                margin: 0;
            }
        }
    }

    &__title {
        @extend %title;
    }

    &__label {
        @extend %label;
        @include adaptiveValue("margin-bottom", 20, 10, 1110, 479.98, 1);
    }

    &__text {
        @extend %text;
        opacity: 0.7;
    }

    &__bottom {
        margin: 0px -10px;
        display: flex;
        justify-content: space-between;
        @media (max-width: $mobileSmall) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__item {
        margin: 0px 10px 10px 10px;
        @include adaptiveValue("font-size", 60, 40, 1110, 479.98, 1);
        opacity: 0.15;
        transition: all 0.3s ease 0s;
        justify-content: center;
        align-items: center;
        display: flex;
        @media (min-width: $tablet) {
            &:hover {
                opacity: 1;
            }
        }
        @media (max-width: $mobileSmall) {
            flex: 0 1 50%;
            margin: 0px 0px 20px 0px;
        }
    }
}

//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
